@media only screen and (max-width: 600px) {
    #heading {
        font-size: large;
    }

    #heading .content{
        margin-right: 0;
        margin-top: 32vh;
        text-align: center;
    }

    #heading .content button{
        font-size: 16px;
        height: auto;
        width: auto;
        margin-right: 20vw;
        margin-left: 20vw;
        margin-top: 128px;

    }

}